/* src/components/Welcome.css */

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Default alignment for desktop */
  padding: 6rem;
  margin-top: calc(var(--header-height, 100px)); /* Adjust if header height changes */
}

.title-container {
  display: flex;
  align-items: center;
}

.welcome-image {
  width: 66.67vw; /* Set width to two-thirds of the viewport for desktop */
  max-width: 100%;
  height: auto;
}

.alice-image {
  width: 10vw; /* Adjust size as needed */
  height: auto;
  margin-left: 1rem;
  animation: rotateSideToSide 4s ease-in-out infinite alternate;
}

@keyframes rotateSideToSide {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.welcome-text {
  align-self: flex-end; /* Align text to the right on desktop */
  max-width: 66.67vw; /* Limit text width to two-thirds of the screen */
  padding-right: 1rem; /* Buffer from the right edge */
  text-align: right;
  font-family: 'Cinzel', serif;
  font-size: 1.25rem;
  color: #dddddd; /* Adjust color as needed */
}

.learn-more-button {
  align-self: flex-end; /* Align button to the right on desktop */
  margin-top: 1rem;
  margin-right: 1rem; /* Buffer from the right edge */
  padding: 0.5rem 1rem;
  font-family: 'Cinzel', serif;
  font-size: 1.125rem;
  font-weight: bold;
  color: #ffffff;
  background-color: transparent;
  border: 0.125rem solid #ffffff;
  border-radius: 1.25rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  text-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.7);
}

.learn-more-button:hover {
  background-color: #ffffff;
  color: #000;
  box-shadow: 0 0 0.9375rem rgba(209, 209, 209, 0.7), 0 0 1.5625rem rgba(0, 230, 230, 0.5);
}

@media (max-width: 768px) {
  .welcome {
    align-items: center; /* Center image, text, and button on mobile */
    padding: 1rem;
  }

  .welcome-image {
    width: 90vw; /* Full width of the viewport on mobile */
    max-width: 100vw;

  }

  .alice-image {
    display: none; /* Hide Alice image on mobile */
  }

  .welcome-text {
    max-width: 90vw; /* Allow text to span most of the screen on mobile */
    align-self: center; /* Center-align text on mobile */
    text-align: center;
    padding-top: 2rem; /* Remove padding on mobile */
    margin: 0; /* Remove margin on mobile */
    font-size: 1.5rem; /* Increase font size on mobile */
  }

  .learn-more-button {
    align-self: center; /* Center-align button on mobile */
    margin: 1rem 0 0 0; /* Adjust margin to center-align and add spacing from text */
  }
}
